body {
    width: max-content;
    margin: auto;
    font-family: Verdana;
    font-size: medium;
}



table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 70px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: cornflowerblue;}
tr:first-child:hover {
    background-color: darkslategrey;
}

input[type=submit] {

}
