<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleafe.org" xmlns:sec="https://thymeleafe.org">
<head>
    <meta charset="UTF-8">
    <title>Episodes form</title>
    <link rel="stylesheet" type="text/css" href="/css/series.css">
</head>
<body>

<h1 th:text="${season.seasonId}"></h1>
<!--<form th:action="@{/series/new}" method="post" th:object="${series}">-->
<!--    <input type="hidden" th:field="*{seriesId}"/>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Title</td>-->
<!--            <td><input type="text" th:field="*{title}"/>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Number of seasons</td>-->
<!--            <td><input type="number"  min="1" max ="100" step="1" th:field="*{numberOfSeasons}"></td>-->
<!--        </tr>-->

<!--    </table>-->
<!--    <input type="submit" value="submit series" />-->
<!--</form>-->

</body>
</html>