<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleafe.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Series Overview</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
<h1>Series overview</h1>
<p>Hieronder volgt een overzicht van alle series die in de database staan.</p>
<table>
    <tr>
        <th>Title</th>
        <th>Aantal seizoenen</th>
        <th></th>
        <th></th>
<th></th>
    </tr>
    <tr th:each="series : ${allSeries}">
        <td th:text="${series.title}"></td></td>
        <td th:text="${series.numberOfSeasons}"></td></td>
        <td><a th:href="@{/series/update/{title}(title=${series.title})}">Edit</a></td>
        <td><a th:href="@{/series/details/{title}(title=${series.title})}">Details</a></td>
    </tr>
</table>
<a th:href="@{/series/new}">Add new series</a>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>