<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleafe.org" xmlns:sec="https://thymeleafe.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Series form</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1>Create new series</h1>
    <form th:action="@{/series/new}" method="post" th:object="${series}">
        <input type="hidden" th:field="*{seriesId}"/>
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}"/>
            </tr>
            <tr>
                <td>Number of seasons</td>

            </tr>

        </table>
        <input type="submit" value="submit series" />
    </form>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>