<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleafe.org" xmlns:sec="https://thymeleafe.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Hier komt de titel</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1 th:text="${series.title}"></h1>
    <form th:action="@{/series/season/{title}(title=${series.title})}" method ="post" th:object="${season}">
        <input type="hidden" th:field="*{seasonId}"/>
        <input type="number"  min="1" max ="100" step="1" th:field="*{seasonNumber}">
        <input type="submit" value="Save season" />
    </form>
    <table>
        <tr><td type="text">Seasons</td></tr>
        <tr th:each="season : ${series.seasons}" >
            <th th:value="${season.seasonNumber}" th:text="'Season ' + ${season.seasonNumber}"></th>
            <!--        <td><a th:href="@{/series/season/{seasonId}(series.season.get(${i}})}}">Add episodes</a></td>-->
            <th>
                <form th:action="@{/series/{seasonId}(seasonId=${season.seasonId})}" method="post" th:object="${episode}">
                    <input type="hidden" th:field="*{episodeId}" />
                    <input type="number"  min="1" max ="100" step="1" th:field="*{episodeNumber}">
                    <input type="submit" value="Add episode" />
                </form>
            </th>

        </tr>

        <tr>

        </tr>

    </table>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>
