<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleafe.org">
<head>
    <meta charset="UTF-8">
    <title>Series Overview</title>
    <link rel="stylesheet" type="text/css" href="/css/series.css">
</head>
<body>
<h1>Series overview</h1>
<p>Hieronder volgt een overzicht van alle series die in de database staan.</p>
<table>
    <tr>
        <th>Title</th>
        <th>Aantal seizoenen</th>
        <th></th>
        <th></th>
<th></th>
    </tr>
    <tr th:each="series : ${allSeries}">
        <td th:text="${series.title}"></td></td>
        <td th:text="${series.getNumberOfSeasons}"></td></td>
        <td><a th:href="@{/series/update/{title}(title=${series.title})}">Edit</a></td>
        <td><a th:href="@{/season/new/{seriesId}(seriesId=${series.seriesId})}">Voeg seizoen toe</a></td>
    </tr>
</table>
<a th:href="@{/series/new}">Add new series</a>
</body>
</html>